{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}

{% block title %}Create Account{% endblock %}

{% block content %}
<div class="col col-6">
  <h1>Create account</h1>
  <form method="post" action="/register">
    {{ form.csrf_token }}
    {{ render_field(form.email, placeholder='email', type='email') }}
    {{ render_field(form.password, placeholder='password') }}
    {{ render_field(form.confirm, placeholder='repeat password') }}
    <input type="submit" value="Create account">
  </form>
</div>
{% endblock %}
