{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}

{% block title %}Todo New{% endblock %}

{% block content %}

{% if not session.user_id %}
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">You are creating a todo as an anonymous user</h4>
  <p class="mb-0">Todos created this way can be edited but cannot be deleted after this session.</p>
  <p class="mb-0">Login to have full control over your todos.</p>
</div>
{% endif %}

<form method="post" action="{{ url_for('todo_create') }}">
  {{ form.csrf_token }}
  {{ render_field(form.title, placeholder='title') }}

  {% if form.task.errors %}
  <div class="form-group has-danger">
    <div class="input-group">
      {{ form.task(placeholder='add task', autofocus='True', class_='form-control form-control-danger') }}
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit">Add</button>
      </span>
    </div>
    <ul class="form-control-feedback list-unstyled">
      {% for error in form.task.errors %}
        <li class="form-errors">{{ error }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% else %}
  <div class="form-group">
    <div class="input-group">
      {{ form.task(placeholder='add task', autofocus='True', class_='form-control') }}
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit">Add</button>
      </span>
    </div>
  </div>
  {% endif %}
</form>

{% endblock %}
