{% extends 'base.html' %}

{% block title %}{{ todo.title }}{% endblock %}

{% block content %}

<div class="dropdown text-right mb-2">
  <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="gear">⚙</span>
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <form method="post" action="{{ url_for('todo_destroy', todo_id=todo.id) }}">
      <button class="btn btn-danger w-100" type="submit">Delete List</button>
      <input type="hidden" name="csrf-token" value="{{ session['csrf_token'] }}">
    </form>
  </div>
</div>

<form method="post" action="{{ url_for('todo_update', todo_id=todo.id) }}">
  <input class="mb-2 edit-in-place" type="text" name="title" value="{{ todo.title }}">
  <input type="hidden" name="csrf-token" value="{{ session['csrf_token'] }}">
  <input type="submit" value="Update" class="hidden">
</form>


<ul class="list-group">
{% for task in todo.tasks %}
  <li class="task list-group-item justify-content-between">
    <form class="task col col-xs-11" method="post" action="{{ url_for('task_update', task_id=task.id) }}">
      <button class="task {% if task.done %}task-done{% endif %}">
        {{ task.title }}
      </button>
      <input type="hidden" name="csrf-token" value="{{ session['csrf_token'] }}">
    </form>

    <form method="post" action="{{ url_for('task_destroy', task_id=task.id) }}">
      <button class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <input type="hidden" name="csrf-token" value="{{ session['csrf_token'] }}">
    </form>
  </li>
{% endfor %}
</ul>
<br>

<form method="post" action="{{ url_for('task_create') }}">
  <div class="input-group">
    <input type="text" class="form-control" name="task" placeholder="add task" autofocus>
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="submit">Add</button>
    </span>
  </div>
  <input type="hidden" name="todo_id" value="{{ todo.id }}">
  <input type="hidden" name="csrf-token" value="{{ session['csrf_token'] }}">
</form>

{% endblock %}
