{% extends 'base.html' %}

{% block title %}{{ todo.title }}{% endblock %}

{% block content %}

<form method="post" action="{{ url_for('todo_update', todo_id=todo.id) }}">
  <input class="h1 edit-in-place" type="text" name="title" value="{{ todo.title }}">
  <input type="hidden" name="csrf-token" value="{{ session['csrf_token'] }}">
  <input type="submit" value="Update" class="hidden">
</form>

  <ul class="list-group">
  {% for task in todo.tasks %}
    <li class="list-group-item">
      {{ task.title }}
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
  {% endfor %}
  </ul>
  <br>

<form method="post" action="{{ url_for('task_create') }}">
  <div class="input-group">
    <input type="text" class="form-control" name="task" placeholder="add task">
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="submit">Add</button>
    </span>
  </div>
  <input type="hidden" name="todo_id" value="{{ todo.id }}">
  <input type="hidden" name="csrf-token" value="{{ session['csrf_token'] }}">
</form>
{% endblock %}
