body {
    font-family: sans-serif;
}

.error {
    color: tomato;
}

.warning {
    color: orange;
}

.message {
    color: seagreen;
}

nav {
    margin-bottom: 2em;
}
nav > form {
    display: inline;
}
