body {
    font-family: sans-serif;
}

.error {
    color: tomato;
}

.warning {
    color: orange;
}

.message {
    color: seagreen;
}

nav {
    margin-bottom: 2em;
}

nav > form {
    display: inline;
}

.edit-in-place {
    border: none;
}

.edit-in-place:hover,
.edit-in-place:active,
.edit-in-place:focus {
    width: 100%;
    background-color: #FFD;
    transition: background-color 0.5s;
}

.hidden {
    display: none;
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100%;
    display: block;
}

a.thumbnail {
    color: inherit;
    text-decoration: none;
}
